body 
{	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: "#ffffff";
	margin-top: 10;
	margin-left: 10;
	margin-bottom: 10;
	margin-right: 10}

body.home
{ background-color: "#e5e6e8";
	margin-top: 10;
	margin-left: 10;
	margin-bottom: 10;
	margin-right: 10}

/* GENERAL LINKS */	
a:link, a:active, a:visited 
{ line-height: normal; 
	font-weight: normal; 
	color: #003399; 
	text-decoration: none; 
	font-size: 12px;
	font-style: normal}
  
a:hover 
{ line-height: normal; 
	font-weight: normal; 
	color: #CC0000; 
	text-decoration: underline; 
	font-size: 12px;
	font-style: normal}
	
/* ADMIN LINKS */		
a:link.admin, a:active.admin, a:visited.admin 
	{ line-height: normal; 
	font-weight: bold;
	color: #003399; 
	text-decoration: none; 
	font-size: 12px; 
	font-style: normal}
		
a:hover.admin
	{ line-height: normal; 
	font-weight: bold; 
	color: #333333; 
	text-decoration: underline; 
	font-size: 12px;
	font-style: normal}
	
/* HEADER LINKS */	
a:link.head, a:active.head, a:visited.head 
	{ line-height: normal; 
	font-weight: bold;
	color: #FFFFFF; 
	text-decoration: none; 
	font-size: 12px; 
	font-style: normal;
	padding: 5px}
		
a:hover.head
	{ line-height: normal; 
	font-weight: bold; 
	color: #ffffff; 
	text-decoration: underline; 
	font-size: 12px;
	font-style: normal;
	background: #666666;
	padding: 5px}

a:link.head2, a:active.head2, a:visited.head2 
	{ line-height: normal; 
	font-weight: bold;
	color: #000000; 
	text-decoration: none; 
	font-size: 11px; 
	font-style: normal;
	padding: 5px}
		
a:hover.head2
	{ line-height: normal; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: underline; 
	font-size: 11px;
	font-style: normal;
	padding: 5px}

.logo
{ 	font-family: Rockwell Extra Bold, Times New Roman;
	font-size: 18px;
	color: #ffffff}

td 
{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	padding-right: 10px;
	padding-left: 10px;
}

td.header
{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
}	

.white
{  	color: #ffffff;
   	font-size: 12px}

td.header 
{	font-style: normal;
	font-weight: normal;
	padding-right: 0px;
	padding-left: 0px;
}

td.filetree 
{	font-style: normal;
	font-weight: normal;
	padding-right: 0px;
	padding-left: 0px;
}

input 
{	font-style: normal;
	font-weight: normal;
	font-size: 12px}

select
{	font-style: normal;
	font-weight: normal;
	font-size: 12px}
	
	
h1
{  font-size: 16px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000;
	font-variant: normal}
	
.home
{	color: #EEEEEE;
	text-align: center}

hr
{
	margin: 10px 0px;
}
	
h1
{  font-size: 20px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000;
	font-variant: normal;
	width: 100%;
	text-align: center;}
	
h2 
{  font-size: 18px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000;
	font-variant: normal;
	width: 100%;
	text-align: center;}

.main 
{  font-size: 18px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #000000;
	font-variant: normal}

.indent30
{	padding-left: 30px}	

th 
	{
	line-height: normal;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
	background-color: #9AB5D1;
}

.hide{
	display: none;
}

.show{
    display: inline;
}

.error
	{ line-height: normal; 
	font-weight: normal; 
	color: #CC0000; 
	text-decoration: none; 
	font-size: 13px;
	font-style: normal}
	
.fl{
	float: left;
}

.half{
	width: 50%;
}

.red{
	color: red;
}

.addressOptionsPopup{
    z-index: 100;
    position: fixed;
    border: 5px solid black;
    background-color: red;
    padding: 10px;
    top: 5px;
    left: 5px;
}

.cleaner{
	clear: both;
}
