<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<location path="images">
		<system.webServer>
			<directoryBrowse enabled="false" />
		</system.webServer>
	</location>
  <system.web>
    <sessionState 
      mode ="InProc" 
      cookieless="false" 
      timeout="120"/>
    <authentication mode="Forms">
          <forms timeout="120"/>
    </authentication>
  </system.web>
</configuration>